@media only screen and (max-width: 450px) {
  main {
    width: 96%;
  }
  header {
    padding: 25px 0;
  }
  .logo img {
    width: 80%;
  }
  nav ul {
    margin-top: 6px;
  }
  nav ul li {
    padding: 0px 10px;
  }
  .slider {
    background-position: 41px 9px;
    background-size: 82%;
    padding-bottom: 50px;
    text-align: center;
  }
  .slider h2 {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    margin-top: 180px;
  }
  .slider p {
    width: 90%;
    font-size: 18px;
    margin: 0 auto;
  }
  .input_area input[type='email'] {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .input_area input[type='submit'] {
    width: 80%;
    margin: 0 auto;
  }
  .section_top {
    width: 96%;
    padding-top: 295px;
    padding-bottom: 50px;
    background-position: 50px 20px;
    background-size: 80%;
    text-align: center;
  }
  .section_top h2 {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .section_top p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 12px;
    text-align: center;
  }
  .fylo_work {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .fylo_work a {
    margin-right: 20px;
  }
  .fylo_work img {
    margin-left: -11px;
  }
  .founder {
    margin: 0 auto;
  }
  .founder_img {
    text-align: left;
  }
  .founder_img p {
    font-size: 13px;
    margin-left: -39px;
  }
  .section_bottom {
    width: 96%;
    padding: 50px 0px;
    flex-direction: column;
  }
  .section_bottom_left {
    width: 90%;
    margin: 0 auto;
  }
  .section_bottom_left h3 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
  .section_bottom_left p {
    text-align: center;
  }
  .section_bottom_right input[type='email'] {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
  }
  .section_bottom_right input[type='submit'] {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 21px;
  }
  .footer_area {
    width: 96%;
    flex-direction: column;
  }
  .copyright {
    width: 96%;
    padding-bottom: 25px;
  }
  .copyright a {
    font-size: 15px;
  }
  .copyright p {
    font-size: 15px;
  }
}
