:root {
  --darkBlue: hsl(243, 87%, 12%);
  --desaturatedBlue: hsl(238, 22%, 44%);
  --brightBlue: hsl(224, 93%, 58%);
  --moderateCyan: hsl(170, 45%, 43%);
  --grayishBlue: hsl(240, 75%, 98%);
  --lightGray: hsl(0, 0%, 75%);
  --headingFont: 'Raleway', sans-serif;
  --headingFontWeightOne: 400;
  --headingFontWeightTwo: 700;
  --bodyFont: 'Open Sans', sans-serif;
  --bodyFontWeightOne: 400;
  --bodyFontWeightTwo: 500;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-family: var(--headingFont);
  font-size: 38px;
  font-weight: var(--headingFontWeightTwo);
}
p,
a {
  color: var(--darkBlue);
  font-family: var(--bodyFont);
}
main {
  width: 1440px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 0px 30px;
}
nav ul li a {
  text-decoration: none;
  font-weight: var(--bodyFontWeightTwo);
}
nav ul li a:hover {
  color: var(--darkBlue);
}
.slider {
  background-image: url(../images/illustration-1.svg);
  background-repeat: no-repeat;
  background-position: 685px 10px;
  background-size: 48%;
  padding-top: 110px;
  padding-bottom: 300px;
}
.slider h2 {
  width: 600px;
  line-height: 50px;
  margin-bottom: 25px;
}
.slider p {
  width: 560px;
  margin-bottom: 35px;
  font-size: 18px;
}
.input_area input[type='email'] {
  padding: 12px;
  width: 290px;
  border-radius: 5px;
  border: 1px solid var(--lightGray);
  margin-right: 10px;
}
.input_area input[type='submit'] {
  padding: 12px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid var(--lightGray);
  background: var(--brightBlue);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}
.input_area input[type='submit']:hover {
  background: var(--darkBlue);
}
.section_top_main {
  background-color: #f8f8fe;
}
.section_top {
  width: 1440px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 50px;
  background-image: url(../images/illustration-2.svg);
  background-repeat: no-repeat;
  background-position: 763px 42px;
  background-size: 44%;
}
.section_top h2 {
  line-height: 50px;
  margin-bottom: 25px;
}
.section_top p {
  width: 550px;
  text-align: justify;
  margin-bottom: 12px;
}
.fylo_work {
  border-bottom: 1px solid var(--moderateCyan);
  width: 168px;
  margin-bottom: 45px;
}
.fylo_work a {
  color: var(--moderateCyan);
  font-weight: 500;
  text-decoration: none;
}
.fylo_work img {
  position: absolute;
  margin-top: 4px;
  margin-left: 6px;
}
.founder {
  width: 400px;
  background: var(--white);
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 0px var(--lightGray);
}
.founder_info p {
  width: auto;
  font-size: 15px;
  text-align: left;
  margin-bottom: 40px;
}
.founder_img img {
  float: left;
  border-radius: 100px;
  width: 20%;
  border: 2px solid var(--desaturatedBlue);
  margin-right: 15px;
  margin-top: -14px;
}
.founder_img h4 {
  font-size: 18px;
  margin-top: 25px;
}
.founder_img p {
  font-size: 13px;
}
.section_bottom_body {
  background: var(--desaturatedBlue);
}
.section_bottom {
  width: 1440px;
  margin: 0 auto;
  padding: 80px 0px;
  display: flex;
  justify-content: space-between;
}
.section_bottom_left {
  width: 470px;
}
.section_bottom_left h3 {
  color: var(--white);
  font-size: 25px;
  margin-bottom: 20px;
}
.section_bottom_left p {
  color: var(--white);
  font-size: 15px;
}
.section_bottom_right input[type='email'] {
  padding: 12px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid var(--lightGray);
  display: block;
  margin-bottom: 15px;
}
.section_bottom_right input[type='submit'] {
  padding: 12px;
  width: 180px;
  border-radius: 5px;
  border: 1px solid var(--brightBlue);
  background: var(--brightBlue);
  color: var(--white);
  cursor: pointer;
}
.section_bottom_right input[type='submit']:hover {
  background: var(--darkBlue);
  border: 1px solid var(--darkBlue);
}
footer {
  background: var(--darkBlue);
  color: var(--white);
}
.footer_area {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.footer_logo_contact {
  width: 460px;
}
.footer_logo img {
  width: 45%;
  margin-left: -23px;
  margin-top: -7px;
}
.footer_nav {
  width: 630px;
}
.social_media {
  width: 350px;
}
.footer_contact a {
  color: var(--lightGray);
}
.footer_contact img {
  float: left;
  margin-right: 20px;
  margin-top: 4px;
}
.footer_contact a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
.footer_nav {
  display: flex;
  justify-content: start;
}
.footer_nav ul {
  list-style: none;
}
.footer_nav ul li {
  padding: 10px 0;
}
.footer_nav ul li a {
  color: var(--lightGray);
  text-decoration: none;
}
.footer_nav ul li a:hover {
  color: var(--moderateCyan);
}
.footer_nav_one {
  margin-right: 150px;
}
.social_media {
  margin-top: 63px;
}
.social_media i {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 100px;
  width: 41px;
  height: auto;
  text-align: center;
  margin-left: 25px;
  cursor: pointer;
}
.social_media i:hover {
  color: var(--moderateCyan);
}
.copyright {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  padding-bottom: 25px;
}
.copyright a {
  color: var(--lightGray);
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
}
.copyright p {
  color: var(--lightGray);
}
